.dropdown {
    &_main-container {
        width: 100%;
        justify-content: center;
        z-index: 1;

        ul {
            border-radius: 0 0px 15px 15px;
            display: flex;
            flex-direction: column;
            background-color: $background-gray;
            width: 80%;
            padding: 30px;
            border: 1px solid $gray-text;

            li {
                font-size: 20px;
                overflow: hidden;
                height: 40px;
                
                div {
                    cursor: pointer;
                    width: fit-content;
                    border-bottom: 3px solid transparent;
                    color: $gray-text;
                
                    &:hover {
                        border-bottom: 3px solid $primary;
                        color: $primary;
                        font-weight: bold;
                    }
                }
            }

            li:nth-last-child(2) {
                height: 30px;
            }

            li:first-child {
                display: none;
            }

            li:last-child {
                display: none;
            }
        }
    }
}