.secondSection {
    &_container {
        color: $gray-text;

        h2 {
            color: $secondary
        }
    }

    &_first-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
    }

    &_title-container {
        text-align: center;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-2 {
            height: 10%;
        }

        h2 {
            width: 80%;
        }
    }

    &_items-container {
        display: flex;
        justify-content: space-evenly;   
        padding: 0px 12%;

        .secondSection_items:nth-of-type(2n+1) {
            margin-top: 80px;
        }
    }

    &_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        gap: 15px;
        text-align: center;

        img {
            height: 140px
        }

        p {
            font-size: 12px
        }

        h4 {
            color: $secondary
        }
    }

    &_item-img {
        background-color: $background-gray;
        border-radius: 80px;
        padding: 12px;
        color: white;
    }

    &_item-text {
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &_second-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &_feature-container {
        display: flex;
        width: 100%;
        height: 45%;
        justify-content: space-around;
        align-items: center;
        
        h2 {
            font-size: 44px;
        }
    }

    &_background-img {
        width: 50%;
        height: 50%;
        padding: 0;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;

        &-2 {
            background-position-x: right;
        }
    }

    &_feature-column {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;
        padding: 0 10%;
        gap: 6%;

        div {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 15%;
        }
    }

    &_first-img {
        width: 110%;
        max-width: 1000px;
        max-height: 580px;
    }
    
    &_second-img {
        width: 110%;
        max-width: 1500px;
        max-height: 850px;
        margin-left: -20%;
    }

    @media (max-width: 884px) {
        &_items {
            img {
                height: auto;
                width: 90px
            }
        }
    }
    
    @media (max-width: 870px) {
        &_feature-column {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }

            button {
                font-size: 16px;
            }
        }
    }
    
    @media (max-width: 812px) {
        &_first-img {
            height: 380px;
        }
    }

    @media (max-width: 660px) {
        &_items {
            img {
                height: auto;
                width: 80px
            }

            h4 {
                font-size: 14px;
            }
        }

        &_title-container {
            h2 {
                font-size: 20px;
            }
        }
    }


    @media (max-width: 553px) {
        &_feature-column {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 12px;
            }

            button {
                font-size: 12px;
            }
        }
    }

    @media (min-width: 1930px) {
        &_items {
            gap: 8px;

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 16px
            }
        }

        &_item-text {
            gap: 8px;
        }
    }

    @media (min-width: 2368px) {
        &_first-img {
            height: 700px;
        }
    }
}