//Colors
$primary: #ff153c;
$secondary: #282c38;
$gray-text: gray;
$background-gray: #F3F0F5;
$dark-primary: darken($color: $primary,
        $amount: 15,
    );
$light-primary: lighten($color: $primary,
        $amount: 35,
    );
$light-secondary: lighten($color: $secondary,
        $amount: 10,
    );
$text-secondary: lighten($color: $secondary,
        $amount: 20,
    );

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", "Sen", sans-serif;
    width: 100%;
    min-width: 620px;
    display: flex;
    justify-content: center;
    background-color: $background-gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 2000px;
    background-color: white;
}

// texts
h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

//buttons
button {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    background-color: $primary;
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: $dark-primary;
    }
}

.button-secondary {
    border: 1px solid $primary;
    background-color: white;
    color: $primary;

    &:hover {
        background-color: $light-primary;
    }
}

//logo & images
._logo-height {
    height: 80px
}

// others
._pointer {
    cursor: pointer
}

ul {
    list-style-type: none;
}

hr {
    height: 1px;
    background-color: $light-secondary;
    border: 0;
    width: 100%;
}